NET mosi0 LOC = P34 | IOSTANDARD = LVTTL;
NET cs0 LOC = P32 | IOSTANDARD = LVTTL;
NET sck0 LOC = P29 | IOSTANDARD = LVTTL;

NET mosi1 LOC = P9 | IOSTANDARD = LVTTL;
NET cs1 LOC = P7 | IOSTANDARD = LVTTL;
NET sck1 LOC = P5 | IOSTANDARD = LVTTL;

NET mosi2 LOC = P131 | IOSTANDARD = LVTTL;
NET cs2 LOC = P126 | IOSTANDARD = LVTTL;
NET sck2 LOC = P123 | IOSTANDARD = LVTTL;